<title>Veštačka Inteligencija - Home</title>
<br />
<div class="card text-dark bg-light mb-12">
  <div class="card-header">
      <div class="text-center">
        <h3>VEŠTAČKA INTELIGENCIJA</h3>
      </div>
  </div>
  <div class="card-body">
    <div class="text-left">
        <div class="col-md-4">
            <a href="http://kg.asss.edu.rs/" target="_blank" ><img class="card-img-top" src="./Media/Other/Logo.png"/></a>
            <br /><br />
        </div>

        <p class="card-text">Profesor: dr Ivan Petrović <br />
            Asistent: Stefan Milenković <br /> <br />
            email: milenkovic.stefan1@gmail.com <br />
            Sajt je namenjen studentima treće godine Akademije strukovnih studija u 
            Kragujevcu radi lakšeg pristupanja materijalu za vežbanje i pripremu za kolokvijum. <br /> <br />
            Studijski smer: Informatika. <br /></p>
    </div>
  </div>
  <div class="card-footer">
      <div class="row">
          <div class="col-md-6">
          <form action="https://kg.asss.edu.rs/informatika/" target="_blank">
            <input class="btn btn-lg btn-outline-primary" type="submit" value="Informatika" />
        </form>
          </div>
      </div>
  </div>
</div>

<br />
<div class="card text-dark bg-light mb-12">
  <div class="card-header">
    <section class="jumbotron text-center">
    <div class="container">
        <h3>VEŽBE</h3>
    </div>
    </section>
  </div>
  <div class="card-body">
    <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
              <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="@Url.Content("~/Media/Other/card1.jpg")" alt="Card image cap">
                <div class="card-body">
                  <h5>Osnova Pythona</h5>
                  <p class="card-text"> U ovom delu se prelaze osnove python programskog jezika: petlje, funkcije, operacije...</p>
                  <div class="btn-group">
                      <form action="Home/Vezba1">
                        <input class="btn btn-sm btn-outline-primary" type="submit" value="Vezba 1" />
                      </form>
                   </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="@Url.Content("~/Media/Other/card0.png")" alt="Card image cap">
                <div class="card-body">
                  <h5>Binarno Stablo Pretrage</h5>
                  <p class="card-text"> U ovom delu se prelaze binarna stabla i dodatne funkcionalnosti ovog tipa pretrage.</p>
                  <div class="btn-group">
                      <form action="Home/Vezba2">
                        <input class="btn btn-sm btn-outline-primary" type="submit" value="Vezba 2" />
                      </form>
                   </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="@Url.Content("~/Media/Other/card2.png")" alt="Card image cap">
                <div class="card-body">
                  <h5>Linearne i Polinominalne Regresije</h5>
                  <p class="card-text"> U ovom delu se rade regresioni modeli i predvidjanja njihovih vrednosti.</p>
                  <div class="btn-group">
                      <form action="Home/Vezba3">
                        <input class="btn btn-sm btn-outline-primary" type="submit" value="Vezba 3" />
                      </form>
                   </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="@Url.Content("~/Media/Other/card3.png")" alt="Card image cap">
                <div class="card-body">
                  <h5>Underfitting i Overfitting</h5>
                  <p class="card-text"> U ovom delu se upoređuju razni regresioni modeli i analiziraju rezultati stepenih jednačina</p>
                  <div class="btn-group">
                      <form action="Home/Vezba4">
                        <input class="btn btn-sm btn-outline-primary" type="submit" value="Vezba 4" />
                      </form>
                   </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="@Url.Content("~/Media/Other/card4.png")" alt="Card image cap">
                <div class="card-body">
                  <h5>Klasifikacija</h5>
                  <p class="card-text"> U ovom delu se uči kako se prave klasifikacije nad podacima i njihovim konkretnim vrednostima</p>
                  <div class="btn-group">
                      <form action="Home/Vezba5">
                        <input class="btn btn-sm btn-outline-primary" type="submit" value="Vezba 5" />
                      </form>
                   </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="@Url.Content("~/Media/Other/card5.png")" alt="Card image cap">
                <div class="card-body">
                  <h5>Klasterizacija</h5>
                  <p class="card-text"> U ovom delu se radi grupisanje vrednosti nekih tabela po njihovim nepoznatim vrednostima</p>
                  <div class="btn-group">
                      <form action="Home/Vezba6">
                        <input class="btn btn-sm btn-outline-primary" type="submit" value="Vezba 6" />
                      </form>
                   </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="@Url.Content("~/Media/Other/card6.png")" alt="Card image cap">
                <div class="card-body">
                  <h5>Analize u Realnom Vremenu</h5>
                  <p class="card-text"> U ovom delu se rade analize teksta i detekcije slika i video klipova</p>
                  <div class="btn-group">
                      <form action="Home/Vezba7">
                        <input class="btn btn-sm btn-outline-primary" type="submit" value="Vezba 7" />
                      </form>
                   </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>