<title>Vežba 1 - Osnove Python-a</title>
<style>
      .sticky {
        position: sticky;
        top: 75px;
      }
</style>

<body>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-sidebar sidebar">
            <div class="sidebar-sticky sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                <a class="nav-link active" href="#zadatak1">
                    <span data-feather="home"></span>
                    Zadatak - 1
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#zadatak2">
                    <span data-feather="file"></span>
                    Zadatak - 2
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#zadatak3">
                    <span data-feather="shopping-cart"></span>
                    Zadatak - 3
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#zadatak4">
                    <span data-feather="users"></span>
                    Zadatak - 4
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#zadatak5">
                    <span data-feather="bar-chart-2"></span>
                    Zadatak - 5
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#zadatak6">
                    <span data-feather="layers"></span>
                    Zadatak - 6
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#zadatak7">
                    <span data-feather="layers"></span>
                    Zadatak - 7
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#zadatak8">
                    <span data-feather="layers"></span>
                    Zadatak - 8
                </a>
                </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Zadaci za vežbanje:</span>
                <a class="d-flex align-items-center text-muted" >
                <span data-feather="plus-circle"></span>
                </a>
            </h6>
            <ul class="nav flex-column mb-2">
                <li class="nav-item">
                <a class="nav-link" href="https://pynative.com/python-basic-exercise-for-beginners/" target="_blank">
                    <span data-feather="file-text"></span>
                    PYnative
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="https://www.w3resource.com/python-exercises/" target="_blank">
                    <span data-feather="file-text"></span>
                    w3resource
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="https://www.geeksforgeeks.org/python-exercises-practice-questions-and-solutions/" target="_blank">
                    <span data-feather="file-text"></span>
                    GeeksForGeeks
                </a>
            </ul>
            </div>
        </nav>

        <div class="col-lg-10 pt-3">
          <div class="text-center card-header">
              <h4>ZADACI ZA VEŽBANJE OSNOVA PYTHON-A</h4>
          </div>

          <br />
          <div class="card" id="zadatak1">
            <div class="card-header text-center">
            <h4>Zadatak 1</h4>
            </div>
            <div class="card-body">
                <p class="card-text">Napisati kod u kome korisnik unosi jednu reč, 
                a output mu se ispisuje svaki karakter te reči u obrnutom redosledu:</p><br />
                <div class="col-md-6 offset-md-3">
                    <img class="card-img-top" src="@Url.Content("~/Media/Vezba 1/1.JPG")">
                </div>
            </div>
            <div class="alert alert-light" role="alert">
                <p>
                    Output: <hr />
                    Unesite tekst: Reč<br />
                    Unesen tekst je: Reč<br />
                    Niz je: ['R', 'e', 'č']<br />
                    č<br />
                    e<br />
                    R
                </p>
            </div>
          </div>

          <br />
          <div class="card" id="zadatak2">
            <div class="card-header text-center">
            <h4>Zadatak 2</h4>
            </div>
            <div class="card-body">
                <p class="card-text">Napisati kod u kome se ispisuje datum pokretanja 
                    koda u formatu dd-MMM-gggg (mesec ispisati rečima u tri slova) i izračunava koliko 
                    dana je prošlo od prvog januara 1990-te godine. 
                    Koristiti import datetime biblioteku za pronalaženje trenutnog datuma.</p><br />
               <div class="col-md-10 offset-md-1">
                    <img class="card-img-top" src="@Url.Content("~/Media/Vezba 1/2.JPG")">
                </div>
            </div>
            <div class="alert alert-light" role="alert">
                <p>
                    Output: <hr />
                    Današnji datum: 13-Nov-2021<br />
                    Prošlo je: 11639 dana
                </p>
            </div>
          </div>
          
          <br />
          <div class="card" id="zadatak3">
            <div class="card-header text-center">
            <h4>Zadatak 3</h4>
            </div>
            <div class="card-body">
                <p class="card-text">Napisati kod u kome se generiše nasumičan broj od 1-50 a
                    korisnik unosi brojeve na kojima dobija odgovor ako je unesen broj veći 
                    ili manji od nasumičnog. Kada korisnik pogodi broj, dobija odgovor koliko 
                    je imao pokušaja.</p><br />
                <div class="col-md-8 offset-md-2">
                    <img class="card-img-top" src="@Url.Content("~/Media/Vezba 1/3.JPG")">
                </div>
            </div>
            <div class="alert alert-light" role="alert">
                <p>
                    Output: <hr />
                    Unesite broj: 10<br />
                    Broj je veći<br />
                    Unesite broj: 20<br />
                    Broj je veći<br />
                    Unesite broj: 30<br />
                    Broj je manji<br />
                    Unesite broj: 24<br /><br />
                    Čestitam! Tačan broj je bio 24<br />
                    Broj pokušaja je: 4
                </p>
            </div>
          </div>

          <br />
          <div class="card" id="zadatak4">
            <div class="card-header text-center">
            <h4>Zadatak 4</h4>
            </div>
            <div class="card-body">
                <p class="card-text">Napisati kod u kome se od datog niza sa 
                    devet brojeva formiraju tri nova niza jednakih dužina koja 
                    sadrže vrednosti originalnog niza u rastućem redosledu.</p><br />
                <div class="col-md-8 offset-md-2">
                    <img class="card-img-top" src="@Url.Content("~/Media/Vezba 1/4.JPG")">
                </div>
            </div>
            <div class="alert alert-light" role="alert">
                <p>
                    Output: <hr />
                    Dati niz:  [11, 45, 8, 23, 14, 12, 78, 45, 89]<br />
                    Sortiran niz:  [8, 11, 12, 14, 23, 45, 45, 78, 89<br /><br />
                    Niz 0 :  [8, 11, 12]<br />
                    Niz 1 :  [14, 23, 45]<br />
                    Niz 2 :  [45, 78, 89]
                </p>
            </div>
          </div>

          <br />
          <div class="card" id="zadatak5">
            <div class="card-header text-center">
            <h4>Zadatak 5</h4>
            </div>
            <div class="card-body">
                <p class="card-text">Napisati kod pomoću kojeg se rešava kvadratna jednačina 
                    i ispisuju rezultati njenih korena.</p><br />
                <div class="col-md-10 offset-md-1">
                    <img class="card-img-top" src="@Url.Content("~/Media/Vezba 1/5.JPG")">
                </div>
            </div>
            <div class="alert alert-light" role="alert">
                <p>
                    Output: <hr />
                    Unesite prvi koeficijent: 4<br />
                    Unesite drugi koeficijent: 6<br />
                    Unesite treći koeficijent: 2<br /><br />
                    Vrednosti su realne i različite.<br />
                    Prva vrednost korena je:  -0.5<br />
                    Druga vrednost korena je:  -1.0
                </p>
            </div>
          </div>
          
          <br />
          <div class="card" id="zadatak6">
            <div class="card-header text-center">
            <h4>Zadatak 6</h4>
            </div>
            <div class="card-body">
                <p class="card-text">Napisati kod koji proverava da li je unesen tekst palindrom.</p><br />
                <div class="col-md-10 offset-md-1">
                    <img class="card-img-top" src="@Url.Content("~/Media/Vezba 1/6.JPG")">
                </div>
            </div>
            <div class="alert alert-light" role="alert">
                <p>
                    Output: <hr />
                    Unesite tekst: Ana voli Milovana<br />
                    Tekst je palindrom
                </p>
            </div>
          </div>
          
          <br />
          <div class="card" id="zadatak7">
            <div class="card-header text-center">
            <h4>Zadatak 7</h4>
            </div>
            <div class="card-body">
                <p class="card-text">Napisati kod koji kreira tekstualnu datoteku i 
                    ispisuje u njoj tri linije teksta (write), nakon toga otvara 
                    ponovo isti fajl i dodaje dve linije teksta (append), čita fajl 
                    i u konzoli ispisuje ono šta sadrži i nakon toga je kompletno obriše.</p><br />
                <div class="col-md-8 offset-md-2">
                    <img class="card-img-top" src="@Url.Content("~/Media/Vezba 1/7.JPG")">
                </div>
            </div>
            <div class="alert alert-light" role="alert">
                <p>
                    Output: <hr />
                    Ovo je prepisan tekst: 1<br />
                    Ovo je prepisan tekst: 2<br />
                    Ovo je prepisan tekst: 3<br />
                    Ovo je priložen tekst: 1<br />
                    Ovo je priložen tekst: 2
                </p>
            </div>
          </div>

          <br />
          <div class="card" id="zadatak8">
            <div class="card-header text-center">
            <h4>Zadatak 8</h4>
            </div>
            <div class="card-body">
                <p class="card-text">Napisati kod koji simulira rad kase u prodavnici 
                    korišćenjem klase za artikle i klase u kome će se svi artikli smestiti. 
                    Nakon unošenja svih artikla, ispisati šta je sve kupljeno i ukupna cena svih artikla.</p><br />
                <div class="col-md-12">
                    <img class="card-img-top" src="@Url.Content("~/Media/Vezba 1/8.JPG")">
                </div>
            </div>
            <div class="alert alert-light" role="alert">
                <p>
                    Output: <hr />
                    120.00 din, Čokolada <br />
                      45.00 din, Hleb  <br />
                    150.00 din, Pavlaka  <br />
                    140.00 din, Jaja 10kom <br />
                    Ukupna cena: 455.00 din
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
</body>