<title>Vežba 2 - Linearne i Polinomske Regresije</title>
<style>
      .sticky {
        position: sticky;
        top: 75px;
      }
</style>

<body>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-sidebar sidebar">
            <div class="sidebar-sticky sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                <a class="nav-link active" href="#objasnjenje">
                    <span data-feather="home"></span>
                    Objašnjenje
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#linearnaregresija">
                    <span data-feather="file"></span>
                    Linearne Regresije
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#kodlinearne">
                    <span data-feather="shopping-cart"></span>
                    Objašnjenje Koda
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#viselinearnih">
                    <span data-feather="users"></span>
                    Više Regresija
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#3dlinearne">
                    <span data-feather="bar-chart-2"></span>
                    3D Linearne Regresije
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#polinomska">
                    <span data-feather="layers"></span>
                    Polinomska Regresija
                </a>
                </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Reference:</span>
                <a class="d-flex align-items-center text-muted" >
                <span data-feather="plus-circle"></span>
                </a>
            </h6>
            <ul class="nav flex-column mb-2">
                <li class="nav-item">
                <a class="nav-link" href="https://www.analyticsvidhya.com/blog/2021/07/all-you-need-to-know-about-polynomial-regression/" target="_blank">
                    <span data-feather="file-text"></span>
                    Analytics Vidhya
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="https://www.javatpoint.com/machine-learning-polynomial-regression" target="_blank">
                    <span data-feather="file-text"></span>
                    java T point
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="https://medium.com/analytics-vidhya/understanding-polynomial-regression-5ac25b970e18" target="_blank">
                    <span data-feather="file-text"></span>
                    Medium
                </a>
            </ul>
            </div>
        </nav>

        <div class="col-lg-10 pt-3">
          <div class="text-center card-header">
              <h4>LINEARNE I POLINOMSKE REGRESIJE</h4>
          </div>

          <br />
          <div class="card" id="objasnjenje">
            <div class="card-header text-center">
            <h4>Objašnjenje oblasti</h4>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Regresioni logaritmi, u oblastima veštačke inteligencije, se koriste za predvidjanje 
                    konstantnih vrednosti, koji se formiraju u odnosu na već postojeće vrednosti koje 
                    korisnik definiše. U materijalu postavljenom na sajtu, radiće se dva različita tipa 
                    regresija. Te regresije su:
                    <ul>
                        <li>
                            Linearne Regresije 
                        </li>
                        <li>
                            Polinomska Regresije
                        </li>
                    </ul>

                    Kako bi se ovi logaritmi realizovali u python-u, potrebno je koristiti posebne 
                    biblioteke koje se moraju instalirati unutar samog python projekta. Instalacija 
                    se izvršava unošenjem komande u terminalu PyCharm aplikacije.<br />
                    Python biblioteke sa kojima se realizuju ove regresije su:<br /><br />
                    <ul>
                        <li>
                            NumPy: To je matematička biblioteka za rad sa n-dimenzionalnim nizovima u Python-u, 
                            koja nam omogućava da efikasno vršimo proračune. Kod za terminal sa kojim instaliramo 
                            biblioteku je:
                            <p class="bgText"> pip install numpy </p>
                        </li>
                        <li>
                            Matplotlib: To je paket za crtanje I kreiranje 2D I 3D grafika. Biblioteku koristimo 
                            kako bismo u kordinatnom sistemu ispisali sve vrednosti za realizovanje regresija.
                            Kod za terminal sa kojim instaliramo biblioteku je:
                            <p class="bgText"> pip install matplotlib </p>
                        </li>
                        <li>
                            Scikit-learn: To je biblioteka koja sadrži algoritame za klasifikaciju, regresiju i 
                            grupisanje. Kod za terminal sa kojim instaliramo biblioteku je:
                            <p class="bgText"> pip install scikit-learn </p>
                        </li>
                        <li>
                            Pandas: To je Python paket koji obezbeđuje brze, fleksibilne i ekspresivne 
                            strukture podataka. Kod za terminal sa kojim instaliramo biblioteku je:
                            <p class="bgText"> pip install pandas </p>
                        </li>
                    </ul>
                </p>
            </div>
          </div>

          <br />
          <div class="card" id="linearnaregresija">
            <div class="card-header text-center">
                <h4>Objašnjenje Linearne Regresije</h4>
            </div>
            <div class="card-body">
            <p class="card-text">Linearna regresija je statistički pristup koji modelira odnos 
                između ulaznih karakteristika i izlaza. Naš cilj ovde je da predvidimo vrednost
                izlaza na osnovu ulaznih karakteristika množenjem sa njegovim optimalnim koeficijentima.
                Korišćenjem matplotlib biblioteke kao i tabele koju učitavamo u CSV formatu, 
                formiramo koordinatni sistem sa svim vrednostima iz te tabele i odredjujemo kako
                funkcioniše linearna regresija za zadate ulazne vrednosti. Primer kako bi izgledao 
                koordinatni sistem sa svim ulaznim podacima je sledeći:</p><br />
            <div class="col-md-8 offset-md-2">
                <img class="card-img-top" src="@Url.Content("~/Media/Vezba 2/1.PNG.png")">
            </div><br />
            <p class="card-text">Koordinatni sistem je formiran sa podacima koji su u excel tabeli zapisane na sledeći način:</p>
                
            <div class="row justify-content-center">
                <div class="col-auto">
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th scope="col">Kolona 1</th>
                        <th scope="col">Kolona 2</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1986</td>
                        <td>1485</td>
                    </tr>
                    <tr>
                        <td>1987</td>
                        <td>2846</td>
                    </tr>
                    <tr>
                        <td>1988</td>
                        <td>5790</td>
                    </tr>
                    <tr>
                        <td>1989</td>
                        <td>6240</td>
                    </tr>
                    <tr>
                        <td>1990</td>
                        <td>7156</td>
                    </tr>
                    <tr>
                        <td>1991</td>
                        <td>5846</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
                <p class="card-text">Nakon popunjavanja samog koordinatnog sistema sa podacima iz tabele,
                    formiramo pravu liniju (zato što pronalazimo <b>linearnu</b> regresiju) i dodajemo je na
                    sam grafik. Linija se automatski dodaje, po uglu takvom da prilikom ispitivanja jedne
                    vrednosti ( nebitno da li se nalazi na X ili Y osi) možemo predvideti drugu vrednosti,
                    korišćenjem te same linije. Podrazumeva se da sa više vrednosti imaćemo što preciznije
                    rezultate za predvidjanje.</p>
            </div>
          </div>

          <br />
          <div class="card" id="kodlinearne">
            <div class="card-header text-center">
            <h4>Kod u Python-u i Objašnjenje Koda</h4>
            </div>
            <div class="card-body">
                <p class="card-text">Za početak, dodajemo sve biblioteke koje su nam potrebne kako bismo
                    formirali regresiju (komanda za instalaciju biblioteka se nalazi na početku stranice,
                    sa crnom pozadinom teksta). Potrebne biblioteke su pandas, matplotlib i scikit-learn.
                    To radimo na sledeći način:</p>
                <div class="col-md-8 offset-md-2">
                    <img class="card-img-top" src="@Url.Content("~/Media/Vezba 2/Slika 1.PNG.png")">
                </div><br />
                <p class="card-text">Reč 'as' nam ukazuje to, da kada koristimo biblioteku, kako bi pozvali
                    neku funkciju koju biblioteka definiše, pozivamo je pomoću reči kojom tu biblioteku 
                    definišemo (ako gledamo prvi red, umesto da pozovemo funkciju kao pandas.funkcija, 
                    rekli bi pd.funkcija, čisto kako bismo skratili samu reč i napravili kod preglednijim).<br /><br />
                    Od ovih 3 biblioteka, pandas nam omogućuje da dodamo tabelu sa podacimo koje želimo da 
                    raspodelimo na koordinatnom sistemu. Matplotlib nam vizuelno kreira koordinatni sistem 
                    kako bi korisnik mogao da vidi kako izgleda raspored svih vrednosti u koordinatnom sistemu.
                    Scikit-learn (sklearn) nam generiše linearnu regresiju pomoću koje možemo vršiti 
                    predvidjanja na vrednostima koje korisnik želi.
                </p>
                <div class="col-md-8 offset-md-2">
                    <img class="card-img-top" src="@Url.Content("~/Media/Vezba 2/Slika 2.PNG.png")">
                </div><br />
                <p class="card-text">U ovom delu koda formiramo vizuelni koordinatni sistem. Korišćenjem reči 
                    pd kao biblioteku pandas i funkcije read_csv(), učitavamo sve podatke (fajl sa ekstenzijom
                    .csv čuvamo iz excel tabele tako što, prilikom čuvanja fajla, odaberemo 'save as' sa opcijom
                    'CSV (comma delimited)' i čuvamo u projektnom folderu u kome nam se nalazi python kod).<br /><br />
                    plt.scatter() (funkcija iz biblioteke matplotlib) uzima vrednosti iz tabele i rasporedjuje
                    u koordinatni sistem. Označavamo prvu kolonu (naziv kolone) kao vrednosti koje odgovaraju 
                    X osi, dok druga kolona odgovara Y osi.<br /><br />
                    plt.xlabel i plt.ylabel nam jednostavno obeležbava koje vrednosti se nalaze na X a koje na 
                    Y osi u vidu labele. plt.show() kreira prozor koji prikazuje koordinatni sistem.<br /><br />
                    Pokretanjem koda, sa csv fajlom koji je dodat ispod ovog teksta, prikazuje nam se sledeći grafik:
                </p>

                <a href="@Url.Content("~/Media/Vezba 2/IncomePerHomeAverage.csv")" download>Download - IncomePerHomeAverage.csv</a>
                <div class="col-md-8 offset-md-2"><br />
                    <img class="card-img-top" src="@Url.Content("~/Media/Vezba 2/2.PNG.png")">
                </div><br />
                <p class="card-text">Nakon formiranja i upisivanja svih vrednosti, potrebno je formirati 
                    linearnu regresiju i napraviti prekiciju. To činimo na sledeći način:
                </p>
                <div class="col-md-10 offset-md-1">
                    <img class="card-img-top" src="@Url.Content("~/Media/Vezba 2/Slika 3.PNG.png")">
                </div><br />
                <p class="card-text">Promenljiva reg definišemo kao model linearne regresije. Modelu preko funkcije 
                    fit, dodajemo vrednosti i preko funkcije plot iz matplotlib biblioteke, generišemo pravu liniju 
                    unutar koordinatnog sistema.<br /><br />
                    U .CSV fajlu imamo definisanu kolonu 1 za godinu koja se prati i kolonu 2 koja nam ukazuje koliko
                    dolara ($) prosečno zaradjuje jedno domaćinstvo. Korišćenjem funkcije predict, predvidjamo kolika
                    će biti prosečna zarada jednog domaćinstva 2020-te godine i tu vrednost pamtimo u promenljivoj 
                    predictPrice. Preostali korak je ispisati te vrednosti: 
                </p>
                <div class="col-md-8 offset-md-2">
                    <img class="card-img-top" src="@Url.Content("~/Media/Vezba 2/Slika 4.PNG.png")">
                </div><br />
                <p class="card-text">
                    Predikcija se računa pomoću sledeće formule:<br />
                    <h3 align="center">price = k * year + b</h3><br />
                    Vrednost pomoću koje radimo predikciju je godina, što smo definisali kada smo generisali plt.plot.
                    K nam predstavlja koeficijent dok B je intercept vrednost (ove vrednosti nam nisu korisne kako bi 
                    dobili rezultat koji pokušavamo da predvidimo, definisano je čisto kako bismo mogli lično proveriti).
                    Rezultat koda nakon pokretanja je:
                </p>
                <div class="col-md-8 offset-md-2">
                    <img class="card-img-top" src="@Url.Content("~/Media/Vezba 2/3.PNG.png")">
                </div>
                <p class="card-text"> <br />Dok koordinatni sistem koji je generisan sa plt.show() funkcijom izgleda ovako: </p>
                <div class="col-md-8 offset-md-2">
                    <img class="card-img-top" src="@Url.Content("~/Media/Vezba 2/4.PNG.png")">
                </div>
                <p class="card-text"> <br />Kompletan kod je napisan na sledeći način: </p>
                <div class="col-md-12">
                    <img class="card-img-top" src="@Url.Content("~/Media/Vezba 2/Konacno 1.PNG.png")">
                </div>
            </div>
          </div>

          <br />
          <div class="card" id="viselinearnih">
            <div class="card-header text-center">
            <h4>Više linearnih regresija na jednom grafiku</h4>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Ukoliko želimo da prikažemo više različitih linearnih regresija na jednom grafiku, kako bismo 
                    videli razliku izmedju više vrednosti različitih tabela, i kako se regresija razlikuje izmedju 
                    njih, predstavljamo na sledeći način: 
                </p><br />
                <div class="col-md-12">
                    <img class="card-img-top" src="@Url.Content("~/Media/Vezba 2/Konacno 2.PNG.png")">
                </div>
                <p class="card-text"><br />
                    U ovom primeru smo koristili tri različite tabele, koje sadrže kolonu za godinu i kolonu koja 
                    beleži prosečan broj cigara po osobi na godišnjem nivou. Tri tabele beleže po 30 vrednosti (za
                    svaku godinu od 1970 do 2000) za tri različite države. Sve tri tabele su prikačene ispod ovog 
                    teksta, spremne za preuzimanje. 
                </p>
                <a href="@Url.Content("~/Media/Vezba 2/cig1.csv")" download>Download - cig1.csv</a><br />
                <a href="@Url.Content("~/Media/Vezba 2/cig2.csv")" download>Download - cig2.csv</a><br />
                <a href="@Url.Content("~/Media/Vezba 2/cig3.csv")" download>Download - cig3.csv</a><br /><br />
                <p class="card-text">
                    Razliku izmedju sve tri grupe vrednosti dobijamo tako što, prilikom popunjavanja vrednosti u 
                    koordinatnom sistemu (plt.scatter) i formiranjem linije koja ukazule na linearnu regresiju 
                    (plt.plot), definišemo boju koja je različita od ostalih. Nije obavezno, ali čisto radi demonstriranje,
                    promenili smo i oblik tačaka iz kružića u +. Pokretanjem koda dobijamo sledeći grafik: 
                </p><br />
                <div class="col-md-8 offset-md-2">
                    <img class="card-img-top" src="@Url.Content("~/Media/Vezba 2/5.PNG.png")">
                </div>
            </div>
          </div>

          <br />
          <div class="card" id="3dlinearne">
            <div class="card-header text-center">
            <h4>Linearne regresije sa više vrednosti i formiranje trodimenzionalnih grafika</h4>
            </div>
            <div class="card-body">
                <p class="card-text">
                    U nekim situacijama nam dve kolone nisu dovoljne, i predikcije moramo raditi sa više parametara. 
                    U nastavku će biti objašnjen primer u kome se koristi .CSV fajl sa pet kolona koje opisuju razne
                    automobile (naziv auta, model, zapremina, težina, CO2) i formira se predikcija za CO2 nad vrednostima 
                    za zapreminu i težinu koje korisnik unosi. Sobzirom da se sada radi sa tri vrednosti umesto sa dve,
                    dvodimenzionalni koordinatni sistem predstavljamo u 3D prostoru (nije obavezno formirati i prikazati 
                    koordinatni sistem da bi se došlo do predikcije sa ulaznim vrednostima, grafici se formiraju kako bi 
                    imali vizuelni prikaz svih vrednosti u tabeli). CSV fajl na kome se radi je prikačen ispod teksta, kao i tekst koda:
                </p>
                <a href="@Url.Content("~/Media/Vezba 2/carsSpecifications.csv")" download>Download - carsSpecifications.csv</a><br /><br />
                <div class="col-md-10 offset-md-1">
                    <img class="card-img-top" src="@Url.Content("~/Media/Vezba 2/Konacno 3.PNG.png")">
                </div>
                <p class="card-text"><br />
                    Rezultat pokretanja koda bi dao rezultat "Predvidjen CO2 za: [ Weight: 2300 ] i [ Volume: 1300 ] je 
                    107.20873279892223" u ovoj situaciji. Korišćenjem funkcija reg.coef_ vratiće dva koeficijenta (zato 
                    što predvidjamo sa dve vrednosti) i to [0.00755095 0.00780526] i funkcija reg.intercept_ (vrednosti b
                    iz formule) koja bi vratila vrednost 79.69471929115937. Formula u ovakvoj situaciji bi se postavila 
                    na sledeći način:
                </p>
                <h3 align="center">CO2 = k1 * Weight + k2 * Volume + b</h3><br />
                <p class="card-text">
                    Grafik, koji kao što je pomenuto je predstavljem u trodimenzionalnom prostoru, formiran je na sledeći način:
                </p>
            </div>
            <video src="@Url.Content("~/Media/Vezba 2/15 - 3D Linearna Regresija.mp4")" controls></video>
          </div>
          
          <br />
          <div class="card" id="polinomska">
            <div class="card-header text-center">
            <h4>Polinomska Regresija</h4>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Polinomske regresije se, za razliku od linearnih, ne izražavaju pravom linijom već zakrivljenom, 
                    koja u odnosu na sve vrednosti predstavljene u koordinatnom sistemu predstavljaju preciznije
                    predvidjanje nekih vrednosti. Dok se linearne predstavljaju formulom y = x, polinomske regresije 
                    znače da se vrednost x može naći u drugom, trećem ili nekom drugom stepenu.
                </p><br />
                <div class="col-md-12">
                    <img class="card-img-top" src="@Url.Content("~/Media/Vezba 2/y1.PNG.png")">
                </div>
                <p class="card-text"><br />
                    U narednom primeru biće predstavljen kod jednog zadatka u kome se predvidja vrednost sa polinomskom
                    regresijom u kojoj je x na drugom stepenu. Tema pretrage je vlažnost i pritisak vremena.
                </p>
                <a href="@Url.Content("~/Media/Vezba 2/WeatherDataP.csv")" download>Download - WeatherDataP.csv</a><br /><br />
                <div class="col-md-12">
                    <img class="card-img-top" src="@Url.Content("~/Media/Vezba 2/Konacno 4.PNG.png")">
                </div>
                <p class="card-text"><br />
                    Kod za polinomnu regresiju, u odnosu na linearnu ima nekoliko razlika koje će sada biti objašnjene. 
                    Počevši od samog početka, sklearn.preprocessing u trećoj liniji koda nam omogućava kreiranje same 
                    polinomne regresije tako što definišemo stepen na kom se nalazi vrednost x. pre_process promenljiva 
                    koju smo definisali tako da kreira grupu dizajniranu na drugom stepenu nekog broja primenjujemo na 
                    vrednost x, koja u promenljivoj x_poly formira nove kolone koje se prate za 1, x i x na kvadrat. <br /><br />
                    Formiranjem polinomske regresije se u grafiku definiše kao veliki broj linearnih regresije ( lako se može 
                    primetiti po grafiku u rezultatu da linija ima uglove, umesto da je standardna kriva linija) i to se dešava
                    oko formiranja promenljive pr_model koji definiše model koji će se prikazati kao konstantne linearne regresije
                    od x_poly koji smo rekli da je skup kolona sa vrednostima 1, x, x^2 i naše vrednosti y.<br /><br />
                    Jedini preostali korak je da, pošto nam je cilj da formiramo neko predvidjanje, predvidimo kolika će 
                    biti vlažnost ako nam je pritisak 1007. Pokretanje koda dobijamo ispis u konzoli 'Predvidjena vlažnost za
                    [ Pressure: 1007 ] je [0.7164631]'.
                </p><br />
                <div class="col-md-8 offset-md-2">
                    <img class="card-img-top" src="@Url.Content("~/Media/Vezba 2/7.PNG.png")">
                </div>
                <p class="card-text"><br />
                    Primer polinomske regresije gde je y = x^3 (x na trećem stepenu) se radi na skoro identičan način, jedina 
                    razlika je ta što se kod definisanja opisa polinomske regresije definiše kao treći stepen umesto drugog.
                    CSV fajl za ovaj primer i kod su sledeći:
                </p>
                <a href="@Url.Content("~/Media/Vezba 2/testVrednostiTrećiStepen.csv")" download>Download - testVrednostiTrećiStepen.csv</a><br /><br />
                <div class="col-md-12">
                    <img class="card-img-top" src="@Url.Content("~/Media/Vezba 2/Konacno 5.PNG.png")">
                </div><br />
                <p class="card-text">
                    Rezultat pokretanja koda u kome se vrši predikcija za broj 20, u konzoli ispisuje 'Predvidjena vrednost za 
                    [ broj : 20 ] je [6601.57575758]' dok bi koordinatni sistem izgledao ovako:
                </p><br />
                <div class="col-md-8 offset-md-2">
                    <img class="card-img-top" src="@Url.Content("~/Media/Vezba 2/8.PNG.png")">
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
</body>